@model IEnumerable<ProjectManagementBusinessObjects.ProjectMember>

@{
    ViewData["Title"] = "Index";
}

<h1>Members</h1>

@if (ViewBag.managerId == ViewBag.userId)
{
    <p>
        <a class="btn btn-primary" asp-action="Create" asp-route-id="@ViewBag.projectId">Add Member</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Current Members
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
                @if (item.Project.ProjectManagerId == ViewBag.userId)
                {
                    <td>
                        <a class="mx-3" asp-action="Delete" asp-route-id="@item.ProjectMemberId">Remove Member</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Projects" asp-action="Index">Back to Projects</a>