@model ProjectManagementBusinessObjects.Document

@{
    ViewData["Title"] = "Create";
}

<h1>Add Document</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocumentName" class="control-label">Document Name</label>
                <input required asp-for="DocumentName" class="form-control" />
                <span asp-validation-for="DocumentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Path" class="control-label">Select File</label>
                <input required type="file" class="form-control" name="file" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label">Document Type</label>
                <select asp-for="TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Uploader</label>
                <input required readonly class="form-control" value="@ViewBag.Username" />
                <input hidden asp-for="UserId" class="form-control" value="@ViewBag.UserId" />
                <input hidden asp-for="TaskId" value="@ViewBag.TaskId" />
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.taskId">Back to Documents</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
